{%- block form_row -%}
   

    
    
    {% if (form.vars.name == 'name')  %}

    	<div class="col-sm-2 form-group">

    {% elseif (form.vars.name == 'firstname')  %}
    
        <div class="col-sm-2 form-group">

    {% elseif (form.vars.name == 'country')  %}
    
        <div class="col-sm-2 form-group">

    {% elseif (form.vars.name == 'birthdate')  %}
    
        <div class=" col-sm-5 form-group">

    {% elseif (form.vars.name == 'reduction')  %}
    
        <div class="form-group">

        

   {% else   %}
   		<div>


    {% endif %}
        {{- form_label(form) -}}
       
        {{- form_widget(form ) -}}
         {{- form_errors(form) -}}
    </div>


   



 
{%- endblock form_row -%}


