
{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Récapitulatif de ce que vous avez acheté</h1>
  <div class="well">

  	Vous avez acheté des tickets pour le louvre et un email vous a été envoyé, vous pouvez imprimer vos tickets, n'oubliez pas les justificatifs.
 		
  </div>
  

 

{% endblock %}
