{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


{% block body %}

  <h1> Mon super formulaire de ma billetterie </h1>


     
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choississez une date</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
       
       <div class="col-lg-5"></div> <div id="datepicker" class="col-lg-2"></div>
    </div>
  </div>
</div>
    

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sélectionnez votre Billet</h3>
  </div>
  <div class="panel-body">
    <label class="radio-inline"><input type="radio" name="optradio">Billet Journée</label>
    <label class="radio-inline"><input type="radio" name="optradio">Billet Demi-Journée</label></div>
  </div>
</div>

     
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Remplissez vos infos</h3>
  </div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label class="tarif"><input type="checkbox" value="" id="tarif">Tarif réduit</label>
      </div>
      <div class="form-group">
        
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Votre nom">
      </div>
      <div class="form-group">
        
        <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Votre prénom">
      </div> 
      <div class="form-group">
        
        <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Country">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword3">Date de naissance</label>
        <input type="date" class="form-control" id="exampleInputPassword3">
      </div>  
    </div>
  </div>
</div>


  {% endblock %}

  {% block javascripts %}
      <script>
  $( function() {
    $( "#datepicker" ).datepicker(  );
  });
  </script>

  {% endblock %}


