{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Formulaire </h1>
  {{ include("LouvreTicketBundle:Ticketing:form.html.twig") }}
  <br>
  <br>
  <br>
{% endblock %}



  {% block javascripts %}
    {{ parent()}}

    <script type="text/javascript">
    	$(document).ready(function() {
               });
  	</script>
  
  {% endblock %}